{% extends 'base.html' %}

{% block title %}
Добавление записи
{% endblock  %}


{% block body %}
<h1>Добавление записи</h1>

<form method="post" class="form-control">
    <input type="text" name="number" placeholder="Введите номер счета" class="form-control">
    <input type="text" name="family" placeholder="Введите фамилию" class="form-control">
    <input type="text" name="name" placeholder="Введите  имя" class="form-control">
    <input type="text" name="family" placeholder="Введите фамилию" class="form-control">
    <input type="text" name="middle_name" placeholder="Введите Отчество" class="form-control">
    <input type="text" name="data" placeholder="Введите дату рождения" class="form-control">
    <input type="text" name="inn" placeholder="Введите инн" class="form-control">
    <input type="text" name="responsible" placeholder="Введите ФИО ответственного" class="form-control">
    <input type="text" name="status" placeholder="Выберите статус" class="form-control">
    <button class="btn btn--success" type="submit">Добавить</button>
</form>
{% endblock  %}